


* {
    box-sizing: border-box;

  }

body {
    font-size: 24px;
    line-height: 32px;
    color: #333;
  }

.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    justify-content: space-between;
    background: #eee;
  }
.name {
    font-size: 36px;
    width: 100%;
    text-align: left;
    background: #eee;
  }

.nav_tabs {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 18px;
    background: none;
    transition: background-color .5s;
  }

a:hover {
  background: rgb(105, 105, 105);
  color: white;
  }

.about_me {
    clear: both;
    width: 930px;
    padding: 20px;
    margin: 0 auto;
  }

.joe {
    width: 20%;
    padding: 2px;
    margin-bottom: 5px;
    text-align: center;
    background: #eee;
  }
  
.header{
  clear: both;
  text-align: left;
  font-size: 30px;

}
.about_me_text {
    clear: both;
    float: left;
    width: auto;
    padding: 20px;
    text-align: left;
    background: #999;
  }
  .clearfix {
    overflow: auto;
}
  .knife {
    /* position: ; */
    float: left;
    margin: 10px 25px;
    width: 200px;
}

.portfolio {
  clear: both;
  width: 930px;
  padding: 20px;
  margin: 0 auto;
}

.portfolio_content {
  width: 930px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.contact {
  clear: both;
  width: 930px;
  padding: 20px;
  margin: 0 auto;
}

.contact_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 43px 88px 57px 190px;
}
.contact_form_name {
  width: 25%;
  /* display: flex;
  flex-wrap: wrap; */
}
.contact_form_email {
  clear: both;
  width: 25%;
  /* display: flex;
  flex-wrap: wrap; */
}

.contact_form_email_type {
  width: 100%;
}


.message {
  clear: both;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact_button{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 57px 190px;
}